// These need to be set based on the breakpoints in the IS Foundation options
$mobile : 700;
$tablet : 1024;
$desktop : 1280;
$large_desktop : 1440;

$breakpoints: (
        small: 0,
        medium: $mobile,
        large: $tablet,
        xlarge: $desktop,
        xxlarge: $large_desktop,
);



// the master color file is in the plugin
@import '../../../../plugins/tsd-infinisite/bower_components/foundation-sites/scss/util/util';


// the master color file is in the plugin
@import '../../../../plugins/tsd-infinisite/assets/acme/is_variables';
//@import '../../bower_components/foundation-sites/scss/global';
//@import '../../bower_components/foundation-sites/scss/components/reveal';

// These need to be set based on the breakpoints in the IS Foundation options
// place file includes below

$body-font-family: 'fieldwork, sans-serif';
$header-font-family: 'Slabo 13px';

@import 'components/body';
@import 'components/header';
@import 'components/footer';
@import 'components/form';
@import 'components/page_builder';
@import 'components/components';
@import 'components/mbo_widget';
@import 'components/modules';
@import 'components/typography';