/*For Edge styles*/
@supports (-ms-ime-align:auto) {

}

/* IE10+ specific styles go here */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

}

html[data-useragent*='MSIE 10.0'] {

}