body {

  background-image : none !important;
  background-color : #fff;


  &#tinymce {
    background-image : none !important;
  }


  .is-content-wrapper {
    max-width : 1280px !important;

    &:before {
      content : none !important;
    }
  }

  .off-canvas {
    &.position-right {
      width     : 100vw;
      transform : translateX(100vw);

      &.is-open {
        transform : translateX(0);
      }
    }
  }

  .off-canvas-content.is-open-right.has-transition-push {
    transform : translateX(-100vw);
  }

  @include breakpoint (medium down) {
    .is_wpb_container > .vc_row {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }

}


