@mixin pos($left, $top, $width, $height) {
  left   : #{$left + "%"};
  top    : #{$top + "%"};
  width  : #{$width + "%"};
  height : #{$height + "%"};
}

@mixin grad($color: $primary, $direction: 'left') {

  @if $direction == 'left' {
    background : linear-gradient(90deg, transparentize($color, 0) 0%, transparentize($color, 1) 100%);
  } @else {
    background : linear-gradient(90deg, transparentize($color, 1) 0%, transparentize($color, 0) 100%);

  }

}


.spacer {
  align-items : center;

  .is_divider {
    width : 50%;
    @include grad($primary);

    &.secondary {
      @include grad($secondary);
    }

    &:before {
      display : none;
    }
  }


  &.align-right {
    .is_divider {
      position : relative;
      left     : 15px;
      width    : calc(50% + 15px);
      @include grad($primary, 'right');

      &.secondary {
        @include grad($secondary, 'right');
      }
    }
  }

  &.align-left {
    .is_divider {
      position : relative;
      right    : 15px;
      width    : calc(50% + 15px);
    }
  }

}

.is_stuck {
  bottom : auto !important;
  top    : 15px !important;

  .admin-bar & {
    top : 45px !important;
  }
}

form#gform_1 {

  li {
    &#field_1_1,
    &#field_1_2,
    &#field_1_3 {
      float  : left;
      width  : 33%;
      margin : 0;
      clear  : none;

      input {
        width : 100%;
      }

      @include breakpoint(small down) {
       width: 100%;
      }
    }
  }

  input[type=submit] {
    margin  : auto;
    display : block;
  }

}

.is-reveal-open .reveal-overlay {
  display     : flex !important;
  align-items : center;
}

.reveal-modal {
  position : absolute;

  &.large {
    left      : 0;
    margin    : 0 auto;
    max-width : 55.55556rem;
    right     : 0;
    width     : 70%;
  }

  .close-reveal-modal {
    color           : #AAA;
    cursor          : pointer;
    font-size       : 2.22222rem;
    font-weight     : bold;
    line-height     : 1;
    position        : absolute;
    top             : 0.55556rem;
    right           : 1.22222rem;
    text-decoration : none;
  }
}

.onc-card-column {


  color : #5f6060;

  & > .vc_column-inner > .wpb_wrapper {

    box-shadow     : 0 0 7px 0 rgba(0, 0, 0, 0.25);
    padding        : 15px 0 0;

    display        : flex;
    flex-direction : column;


    & > .vc_btn3-container:last-child {
      margin : auto 0 0;
    }

    & > * {
      padding-left  : 15px;
      padding-right : 15px;
    }

  }


  .wpb_single_image {
    margin-bottom : 15px;
    padding-left  : 0 !important;
    padding-right : 0 !important;
  }

  > .vc_column-inner > .wpb_wrapper {
    h6 {
      text-transform : uppercase;
    }

    h3 {
      font-size   : 22px;
      line-height : 26px;
    }
  }


  @include breakpoint(large up) {

    //img {
    //  margin-left : -10px;
    //  width       : calc(100% + 20px);
    //  max-width: none;
    //}
  }

  @include breakpoint(medium down) {
    margin-bottom : 30px;


    figure {
      width : 100%;

      .vc_single_image-wrapper {
        width : 100%;
      }

      img {
        display : block;
        margin  : auto;
      }
    }

  }
}

.circle-img {
  img {
    border-radius : 100000px;
  }
}

html body {

  .button {
    background     : $primary;
    color          : white;
    font-size      : 18px;
    letter-spacing : .2px;
    padding        : 14px 28px;


    &:hover {
      background : $primary_dark !important;
    }
  }
}


.popup-container {
  width               : 100vw;
  height              : 100vh;
  position            : fixed;
  z-index             : 99999;
  top                 : 0;
  left                : 0;
  display             : flex;
  flex-direction      : column;
  align-items         : center;
  justify-content     : center;
  background-image    : url(../img/onc-bg-massage.png);
  background-size     : cover;
  background-position : center;

  video {
    box-shadow : 0 0 50px -20px $secondary;
    max-width  : 60%;
    height     : auto;
    outline    : none;
    cursor     : pointer;
    transition : 250ms all ease-out;

    &:hover {
      box-shadow : 0 0 50px -10px $secondary;
    }
  }

  h2, p {
    font-weight : 500;
    color       : white;
    margin      : 0;
  }


}


@mixin sepia_image() {


  img {
    filter     : grayscale(1) saturate(0.05) brightness(0.93) sepia(0.4);
    transition : 250ms all ease-out;
  }

  &.color,
  &:hover {
    img {

      filter : grayscale(0) saturate(1) brightness(1) sepia(0);
    }
  }

}

body.home {
  .wpb_single_image {
    @include sepia_image
  }
}

.wpb_single_image {
  &.sepia {
    @include sepia_image;
  }
}


.onc-offcanvas {

  padding             : 15px 0 !important;
  background-image    : url(/wp-content/uploads/2019/11/offcanvas-bg-swirl.png);
  background-size     : 140%;
  background-position : center;

  path {
    fill : $secondary;
  }

  ul.menu {

    a {
      color       : $secondary;
      font-weight : 800;
      font-size   : 32px;
    }

    & > li {

      &.current-menu-ancestor,
      &.current-menu-item {
        background : $gray_xxdark;
      }

      &.current-menu-ancestor .current-menu-item a {
        color : $primary_light;
      }

      & > a {

      }
    }

    .submenu-toggle {
      &:after {
        border-top-color : $secondary;
      }
    }

    ul.sub-menu {
      margin        : 0;
      background    : $gray_xxdark;
      border-top    : 1px solid $gray;
      border-bottom : 1px solid $gray;

      a {
        font-size : 24px;
      }

    }
  }
}


//ul.wpb_image_grid_ul {
//
//  display: flex;
//  flex-wrap: wrap;
//
//  &, * {
//    top: unset !important;
//    bottom: unset !important;
//    width: auto !important;
//    height: auto !important;
//  }
//
//  li {
//    flex: 0 0 48%;
//    position: relative !important;
//
//    img {
//      margin: 0;
//      border: none;
//    }
//
//  }
//}

.wpb_text_column a {
  color : #690a1c;
}

.gform_wrapper {
  form .top_label {
    input {
      &[type=text], &[type=email] {
        border-radius : 5px;
      }
    }

    textarea {
      border-radius : 5px;
    }
  }

  .top_label .gfield_label, legend.gfield_label {
    font         : inherit;
    font-weight  : bold;
    color        : #000;
    padding-left : 0;
  }

  .gform_footer input {
    &.button, &[type=submit] {
      border-radius       : 5px;
      background-color    : #690a1c;
      color               : #ffffff;
      background-image    : linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1));
      background-repeat   : no-repeat;
      background-repeat   : repeat-x;
      background-size     : 200%;
      background-position : 0 -100%;
    }
  }

  .gform_page_footer input {
    &.button, &[type=submit] {
      border-radius       : 5px;
      background-color    : #690a1c;
      color               : #ffffff;
      background-image    : linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1));
      background-repeat   : no-repeat;
      background-repeat   : repeat-x;
      background-size     : 200%;
      background-position : 0 -100%;
    }
  }

  .gform_footer input {
    &.button:hover, &[type=submit]:hover {
      background-color : #500003;
    }
  }

  .gform_page_footer input {
    &.button:hover, &[type=submit]:hover {
      background-color : #500003;
    }
  }
}

.button.btn-white {
  font-size        : 1em;
  border-radius    : 0;
  background-color : #fff;
  color            : #5f6060;
  display          : inline-block;
  vertical-align   : top;
  margin-right     : 30px;
  box-shadow       : 0 0 7px rgba(0, 0, 0, 0.25);
}

table.no-border {
  border : 0;

  tbody {
    border : 0;

    tr {
      border : 0;
    }
  }
}

.is-page-builder-wrapper > .is_wpb_container > .woocommerce:first-child {
  margin-top : 60px;
}

.gform_wrapper form#gform_2 {
  font-family : $body-font-family;

  label, input[type=submit] {
    font-family : $body-font-family;
  }
}

#gform_2 .gform_footer {
  padding-bottom : 0;
  margin-top     : 10px;
}

.onc-coming-soon {

  & > div {
    background : $tertiary_light;
    max-width  : 1280px;
    border: 1px solid $tertiary;
    text-align : center;
  }

  h2, p {
    color : $tertiary_xxdark !important;
  }

  p {
    margin: 0;
  }


}