.is-footer-container {
  background-image : url(/wp-content/uploads/2019/08/swirl.png);
}

footer {

  p {
    font-size : 18px;

    span {
      font-size   : 11px;
      color       : $primary_xlight !important;
      line-height : 1;
      display     : block;
      margin-top  : 7px;
    }
  }

  @media (min-width : $mobile) {
    width : calc(100% + 30px) !important;
  }

  * {
    color : $white !important;
  }

  i,
  path {
    color : $primary_xlight;
    fill  : $primary_xlight;
  }

  #gform_wrapper_1 {
    margin-top : 30px;
  }


  form {
    label {

    }

    textarea,
    input[type='text' ] {
      border     : 1px solid transparentize($white, .3) !important;
      color      : $white;
      background : transparent;
      font-size  : 13px !important;
      padding    : 20px !important;

      &:active,
      &:focus {
        background : transparent;
      }

    }

    li {
      padding : 0;

      &#field_1_1,
      &#field_1_6,
      &#field_1_3,
      &#field_1_4 {
        width   : 50%;
        float   : left;
        clear   : none;
        padding : 0 20px 0 0;
        margin  : 0 0 18px 0;

        input {
          margin : 0;
        }
      }

    }

    .gform_wrapper .top_label div.ginput_container:first-of-type {
      margin-top : 0;
    }

    button {
      float      : right;
      background : transparent !important;
      font-size  : 13px !important;

      &::after {
        content     : "\f30b";
        font-family : 'Font Awesome 5 Pro';
        display     : inline-block;
        margin-left : 7px;
      }

    }

  }


  i.text-white, .text-white path {
    color : #fff;
    fill  : #fff;
  }

  .footer-sm-links {
    align-items : center;


    @include breakpoint(small only) {
      justify-content : center;
      padding         : 30px 0;
    }

    @include breakpoint (medium only) {
      justify-content : space-around;
    }

  }

  .medium-elements {
    max-width: 600px;
    margin: auto;
  }

}