.gform_wrapper {
  form {

    li {
      margin  : 0;
      padding : 0;
    }

    .top_label {

      input {

        transition : 250ms all ease-out;

        &[type=text],
        &[type=email] {
          border-radius : 30px;
          padding       : 25px 20px !important;
          box-shadow    : none;
          border-color  : $primary_dark;
          font-family   : $header-font-family !important;

          &::placeholder {
            font-family : $body-font-family;
          }


          &:focus,
          &:active {
            border-color : $secondary !important;
          }

        }
      }

      textarea {
        border-radius : 30px;
        padding       : 25px 20px !important;
        box-shadow    : none;
        border-color  : $primary_dark;

        &:focus,
        &:active {
          border-color : $secondary !important;
        }

      }
    }

    label {
      font-family  : $header-font-family;
      padding-left : 22px;
      font-size    : 19px;
      font-weight  : normal;
      padding-top  : 15px;
    }


    &#gform_2 {

      input {
        &[type=submit] {
          background  : $secondary_dark;
          font-family : $header-font-family;
          margin      : auto;
          display     : block;
          padding     : 12px 32px;
          font-size   : 21px;
        }
      }

    }

    &#gform_3 {

      display       : flex;
      border        : 1px solid $secondary;
      background    : transparentize($primary_xxdark, .6);
      border-radius : 12px;

      .gform_body {
        flex  : 1 0 auto;
        width : auto;
      }

      .gform_footer {
        flex    : 0 1 auto;
        width   : auto;
        margin  : 0;
        padding : 0;
      }

      .ginput_container {
        margin : 0;
      }

      li.gfield {
        margin  : 0;
        padding : 0;

        input[type=text] {
          border : none !important;
          margin : 0;
        }
      }

      input[type=submit] {
        margin           : 0;
        border-radius    : 0 12px 12px 0;
        height           : 100%;
        background-color : $primary_dark;
      }


    }

    li.gfmc-column {
      display: inline-block;

      #field_4_13 {
        height: 28px
      }

      input {
        width: 100% !important;
      }
    }

  }

}

#gform_confirmation_wrapper_3 {
  .gform_confirmation_message {
    color : #0b3b1d !important;
  }
}
