.ispb_header_container {

  li.menu-item-201 {
    display: none !important;
  }

  border-top : 20px solid $secondary;

  img {
    position   : static;
    top        : inherit;
    right      : inherit;
    margin-top : 0;
    max-width  : 100%;

  }

  > div {
    background-image    : url(/wp-content/uploads/2019/08/swirl.png), url(/wp-content/uploads/2019/08/swirl.png);
    background-repeat   : no-repeat;
    background-position : 0 center, 360px center;
    background-color    : $primary !important;
    padding-bottom      : 15px;
  }

  .dropdown.menu {

    & > li:last-of-type {
      & > a {
        padding-right : 0;
      }
    }


    a:hover {
      color : $secondary_light;
    }

    li {

      &.is-active {
        & > a {
          color : $secondary_light;
        }
      }

      a {
        background : transparent;
        color      : $white;
        font-size  : 16px;
        padding    : 5px 15px;
      }

      &.is-dropdown-submenu-parent {
        padding-right : 30px;

        & > a {
          padding-right : 0;

          &:after {
            right               : -22px;
            border-color        : $white transparent transparent;
            border-left-width   : 5px;
            border-bottom-width : 3px;
            border-right-width  : 5px;
          }
        }
      }

      ul {
        background : $primary;
        top        : calc(100% + 19px) !important;
        border     : none !important;
        padding    : 7px 0;

        a {
          color   : $white;
          display : block;
          width   : 100%;
        }
      }


      body.single-project &.menu-item-20,
      body.single-service &.menu-item-53,
      &.current_page_item {
        & > a {
          font-weight : bold;
        }
      }
    }
  }

  .healcode-link {
    font-size : 0;

    &:after {
      content     : "\f007";
      font-family : "Font Awesome 5 Pro";
      font-size   : 16px;
      color       : $secondary;
      font-weight : bold;
      cursor      : pointer;
    }
  }

  @mixin tablet_header_style() {

    .logo a {
      img {

        display  : block;
        margin   : 15px auto;
        position : relative;

        @include breakpoint(small down) {
          margin: 15px auto 15px 0;
        }

      }
    }

    ul#menu-main-menu-1 {
      justify-content : center;
    }

  }


  @include breakpoint(small only) {
    @include tablet_header_style();
  }
  @include breakpoint(medium only) {
    @include tablet_header_style();
  }


}

