.healcode {

  &.appointments {


    .pre-filters {
      display: flex;
      flex-wrap: wrap;

      div:nth-of-type(1),
      div:nth-of-type(2) {
        flex: 0 0 45%;
        padding-right: 15px;
      }
      // submit button
      div:nth-of-type(4) {
        flex: 0 0 10%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      // calendar
      div:nth-of-type(3) {
        flex: 0 0 100%;
        order: 4;
      }
    }

    #appointment_results {

      $width: 270px;

      width: calc(100% - #{$width});
      position: relative;
      left: $width;
      margin-top: -$width;
    }


  }

}