@mixin hero_bg_styles {

  position : relative;
  padding  : 35px 0;

  &::before,
  &::after {
    display  : block !important;
    content  : "" !important;
    position : absolute;
    top      : 0;
    right    : auto;
    bottom   : 0;
    width    : 9999999px;
    left     : -9999px;
  }

  &::before {
    background-size     : 530px;
    background-image    : url(/wp-content/uploads/2019/11/bg-swirl.png);
    background-repeat   : repeat-x;
    background-position : center;
    opacity             : .2;
    z-index             : -1;
  }

  &::after {
    background-color : #444444;
    border-top       : 1px solid $secondary;
    z-index          : -2;
  }
}

#home_hero {

  @include hero_bg_styles;

  video {
    box-shadow : 0 0 30px -10px transparentize($secondary, .85);
    transition : 250ms all ease-out;
    cursor     : pointer;

    &:hover {
      box-shadow : 0 0 30px transparentize($secondary, .7);
    }
  }

  .wpb_content_element {
    margin : 0;
  }

  @include breakpoint(small down) {
    flex-direction : column-reverse;
  }

  .button {
    margin : 5px;
  }


}

.onc-interior-hero {
  @include hero_bg_styles;

  display         : flex;
  align-items     : center;
  justify-content : center;

  h2 {
    z-index        : 1;
    position       : relative;
    font-weight    : 600;
    text-transform : uppercase;
    letter-spacing : 0.8px;
    font-size      : 46px;
  }

  @include breakpoint(small down) {
    padding-left  : 15px;
    padding-right : 15px;
    h2 {
      text-align : center;
    }

  }
}

.wpb_image_grid {
  img {
    border-left   : 15px solid white;
    margin-bottom : 15px;
  }
}

.post-password-form {
  border        : 1px solid $secondary;
  border-radius : 15px;
  background    : $secondary_xlight;
  width         : 500px;
  margin        : 130px auto 90px;
  padding       : 30px;

  p {
    &:last-of-type {
      display     : flex;
      align-items : flex-end;
      margin      : 0;

      label {
        flex : 1 0 auto;
      }

      input {

        &[type=password] {
          margin : 0;
        }

        &[type=submit] {
          height        : 39px;
          margin-left   : 20px;
          background    : $primary_dark;
          color         : $secondary_light;
          border        : none;
          border-radius : 10px;
          padding       : 0 20px;
        }

      }
    }
  }
}

form#gform_9 {

  display     : flex;
  align-items : flex-end;
  margin      : 0;

  .gform_heading {
    display : none;
  }

  .gform_body {
    flex    : 1 0 auto;
    padding : 0;
    width   : auto;
  }

  .gform_footer {
    flex    : 0 0 auto;
    padding : 0;
    width   : auto;
  }

}


.btn-primary {
  letter-spacing : 4px;

  &:not(.vc_btn3-container) {
    background-color : #f2e6d3;
    color            : #690a1c;

    &:hover {
      background-color : #690a1c !important;
      color            : #f2e6d3 !important;
    }
  }

  .vc_btn3.vc_btn3-style-custom {
    background-image : none;

    &:hover {
      background-color : #690a1c !important;
      color            : #f2e6d3 !important;
    }
  }
}

.btn-secondary {
  letter-spacing : 4px;

  &:not(.vc_btn3-container) {
    background-color : #f2e6d3;
    color            : #690a1c;

    &:hover {
      background-color : #690a1c !important;
      color            : #f2e6d3 !important;
    }
  }

  .vc_btn3.vc_btn3-style-custom {
    background-image : none;

    &:hover {
      background-color : #f2e6d3 !important;
      color            : #690a1c !important;
    }
  }
}


.healcode {
  min-height : 400px;
}

.pricing_table {
  tr {
    td:not(:first-child) {
      text-align : center;
      width      : 110px;
    }
  }

  @include breakpoint(small down) {

    margin-bottom : 42px;

    &:after {
      content     : "Swipe table left and right to view more";
      display     : block;
      position    : absolute;
      text-align  : center;
      font-size   : 14px;
      font-weight : 600;
      color       : $primary_light;
      left        : 0;
      right       : 0;
      padding-top : 13px;
    }
  }
}

h2#plwc-header {
  font-weight : 600;

  strong {
    font-weight : 800;
  }
}


.healcode {
  &.appointments {
    &.list_view {
      .ui-datepicker {
        display : block;
        margin  : auto;
      }
    }
  }
}

.plwc-pricing {
  margin-top : 5px;

  tbody {
    background : transparent;
    border     : none;

    tr:nth-child(even) {
      background-color : transparent;
    }

    strong {
      font-weight : 600;
    }

    td {
      padding : 0;
    }

  }
}

.pricing_table {
  width      : 100%;
  display    : block;
  overflow-x : auto;
  margin-top: 25px;

  tr {
    td {
      &:first-child {
        min-width : 200px;
      }

      min-width: 125px;
    }
  }
}