.ispb_header_container {
  position : relative;
  z-index  : 2;
}

.off-canvas-content {
  overflow : hidden;
}

.is-content-wrapper {
  margin   : 0 auto;
  position : relative;
}

.vc_btn3-container {

  // this is for custom classes assigned through the editor
  &.drop-shadow {
    .vc_btn3 {
      box-shadow : 0 0 7px 0 rgba(0, 0, 0, 0.25);
    }
  }

  .vc_btn3 {
    &.vc_btn3-style-custom {
      background-image : none !important;
    }

    &.vc_btn3-size-lg {
      font-size : 24px !important
    }

    &.vc_btn3-size-md {
      font-size : 18px !important
    }

    &.vc_btn3-size-sm {
      font-size      : 14px !important;
      font-weight    : bold;
      letter-spacing : .8px;
    }
  }
}

body.vc_editor {
  div.vc_row {
    overflow : visible !important;
  }
}

.stripe-buttons {
  @media (min-width : $mobile) {
    .vc_column-inner {
      padding-top : 0 !important;
    }
    .vc_btn3-container {
      margin-bottom : 0 !important;
    }
  }
}

healcode-widget {
  &[data-type=gift-card-link] {
    a {
      display        : block;
      margin         : auto;
      width          : 170px;
      text-align     : center;
      background     : $primary;
      color          : white;
      padding        : 15px;
      font-weight    : bold;
      letter-spacing : 1px;
      font-size      : 22px;
    }
  }
}